# 1. 先忽略根目录下的所有内容
/*
/tests/

# 2. 排除（即保留）你想要的文件和文件夹
!/init.el
!/README.md
!/lisp/
!/.gitignore
!/site-lisp/
!/early-init.el

# 3. 如果你有 early-init.el 也可以保留（可选）
!/early-init.el

# 4. 针对 lisp 文件夹，忽略掉 Emacs 自动生成的编译文件 (.elc)
/lisp/*.elc

# 5. 忽略 lisp 文件夹内可能产生的备份文件
/lisp/*~
/lisp/\#*\#

# 6. 保留 site-lisp 源码，忽略其生成的编译文件
/site-lisp/**/*.elc
